.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    align-items: center;
    border: 1px solid black;
    text-shadow: 2px 2px 10px rgb(168, 167, 167);
}

/* ul elements that are direct children of elements with the class .nav-items. */
.nav-items > ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-items > ul > li{
    padding: 10px;
}
.logo{
    height: 75px;
    width: 75px;
    box-shadow: 1px 1px 10px rgb(168, 167, 167);
    border-radius: 50%;
}

.card{
    width: 200px;
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px;
}

.card > img{
    width: 100%;
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    padding: auto;
}

.shimmer-card{
    width: 200px;
    height: 350px;
    background-color: lightgrey;
    margin: 20px;
}


/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}
    .page_404{
    text-align: center;
    }